<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
  <link rel="icon" type="image/jpg" href="/images/title-icon.jpg">
  <title>Info</title>
</head>
<body class="w-screen h-screen grid grid-cols-5 gap-8 p-4" style="font-family: 'Poppins', sans-serif;">

  <!-- SIDEBAR -->
  <div th:replace="~{fragments/sideBar :: sidebar}"></div>

  <!-- MAIN CONTENT -->
  <div class="col-span-4">
    <div class="w-full flex justify-center items-center shadow-sm rounded border border-gray-300 m-10">
    	<h2>About Admin's Role:</h2>
    </div>
    <p>
    	As an Admin, I am responsible for:
		<br/><br/>
		<li>Creating new staff accounts, including doctors, nurses, and receptionists.</li>
		<br/>
		<li>Scheduling and managing appointments, ensuring patients are assigned to doctors at appropriate times.</li>
		<br/>
		<li>Viewing all new appointments and accessing detailed information about all staff members.</li>
		<br/>
		<li>Coordinating staff and workflows to maintain smooth operations and timely patient care.</li>
    </p>
  </div>
</body>
</html>