<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
	<link rel="icon" type="image/jpg" href="/images/title-icon.jpg">
	<title>Appointments</title>
</head>

<body class="w-screen h-screen grid grid-cols-5 gap-8 p-4" style="font-family: 'Poppins', sans-serif;">
	<!-- SIDEBAR -->
	<div th:replace="~{fragments/sideBar :: sidebar}"></div>


	<!-- MAIN CONTENT -->
	<div class="col-span-4 px-6">

		<div class="p-6 overflow-x-auto">
			<table class="min-w-full divide-y divide-gray-200 border">
				<thead class="bg-gray-50">
					<tr>
						<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Patient ID</th>
						<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Patient Name</th>
						<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date
						</th>
						<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time
						</th>
						<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Reason</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-gray-200" th:if="${appointments != null}">
					<tr th:each="appointment : ${appointments}" class="hover:bg-blue-50 cursor-pointer transition">
						<td th:text="${appointment.patient.id}">--</td>
						<td th:text="${appointment.patient.pname}">--</td>
						<td th:text="${appointment.appointmentDate}">22-09-2018</td>
						<td th:text="${appointment.from} + ' - ' + ${appointment.to}">14:00 - 14:50</td>
						<td th:text="${appointment.reason}">Stomach Ache</td>
					</tr>
				</tbody>
			</table>

			<div id="emptyState"
				class="border border-t-0 border-gray-200 rounded-b p-6 flex flex-col items-center justify-center space-y-4"
				th:if="${appointments == null or #lists.isEmpty(appointments)}">
				<div class="flex justify-center items-center">
					<img src="/images/NotFound.svg" alt="No data illustration" class="w-64 h-auto" />
				</div>
				<p class="text-center text-gray-700 font-medium">
					We couldn't find anything related to your sessions.
				</p>
			</div>
		</div>
	</div>
</body>

</html>