<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
  <title>Staff Details</title>
</head>
<body class="w-screen h-screen grid grid-cols-5 gap-8 p-4" style="font-family: 'Poppins', sans-serif;">

  <!-- SIDEBAR -->
  <div class="col-span-1 flex" id="sidebar">
    <aside class="w-64 bg-white shadow h-screen overflow-hidden pl-3">
      <div class="py-6">
        <div class="flex items-center mb-6">
          <div class="w-12 h-12 bg-gray-300 rounded-full flex items-center justify-center text-gray-700">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="ml-4">
            <h1 class="text-xl font-bold my-2" th:text="${receptionistName}">--</h1>
            <p class="text-sm text-gray-500" th:text="${receptionistEmail}">--</p>
          </div>
        </div>
        <button id="logoutBtn" class="w-full bg-blue-500 text-white py-2 rounded mb-6">Log out</button>
        <nav class="space-y-2">
          <a th:href="@{/receptionist/dashboard/{id}(id=${receptionistId})}" class="block py-2 px-4 rounded hover:bg-blue-100 flex gap-2 items-center">
            <i class="fa-solid fa-grip text-xl"></i>
            <p>Dashboard</p>
          </a>
          <a th:href="@{/receptionist/patients/{id}(id=${receptionistId})}" class="block py-2 px-4 rounded hover:bg-blue-100 font-bold text-blue-600 flex gap-2 items-center">
            <i class="fa-solid fa-bed-pulse text-xl"></i>
            <p>Patients</p>
          </a>
          <a th:href="@{/receptionist/appointments/{id}(id=${receptionistId})}" class="block py-2 px-4 rounded hover:bg-blue-100 flex gap-2 items-center">
             <i class="fa-solid fa-calendar-week text-xl"></i><p>Appointments</p>
          </a>
          <a th:href="@{/receptionist/aboutme/{id}(id=${receptionistId})}" class="block py-2 px-4 rounded hover:bg-blue-100 flex gap-2 items-center">
             <i class="fa-solid fa-address-card"></i><p>About Me</p>
          </a>
          <a th:href="@{/receptionist/info/{id}(id=${receptionistId})}" class="block py-2 px-4 rounded hover:bg-blue-100 flex gap-2 items-center">
             <i class="fa-solid fa-circle-info text-xl"></i><p>Info</p>
          </a>
        </nav>
      </div>
    </aside>
  </div>

  <!-- MAIN CONTENT -->
  <div class="col-span-4">
    <!-- DETAILS -->
    <h1>Details</h1>
    <div class="max-w-3xl mx-auto p-6 space-y-8 text-sm text-gray-700">
    <!-- Personal Details -->
    <section>
        <h2 class="text-xl font-semibold">- Patient Details -</h2>
        <div class="grid grid-cols-2 gap-6 mt-4">
            <div>
                <label for="id" class="block text-sm font-medium">ID</label>
                <p id="id" class="mt-1 px-3 block w-full" th:text="${patient.id}">12345</p>
            </div>
            <div>
                <label for="name" class="block font-medium">Name</label>
                <p id="name" class="mt-1 px-3 block w-full shadow-sm" th:text="${patient.pname}">John Doe</p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-6 mt-4">
            <div>
                <label for="dob" class="block font-medium">Date of Birth</label>
                <p id="dob" class="mt-1 px-3 block w-full" th:text="${patient.pdob}">01/01/1990</p>
            </div>
            <div>
                <label for="gender" class="block font-medium">Gender</label>
                <p id="gender" class="mt-1 px-3 block w-full" th:text="${patient.pgender}">Male</p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-6 my-4">
            <div>
                <label for="email" class="block font-medium">Email</label>
                <p id="email" class="mt-1 px-3 block w-full" th:text="${patient.pemail}">jdoe@email.com</p>
            </div>
            <div>
                <label for="phone" class="block font-medium">Phone</label>
                <p id="phone" class="mt-1 px-3 block w-full" th:text="${patient.pphnno}">685685478</p>
            </div>
        </div>
    </section>
    
</div>
    
  </div>
</body>
</html>